
.projects-container {
  display: flex;
  justify-content: center; /* Center the clouds horizontally */
  align-items: center; /* Align clouds vertically */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  gap: 20px; /* Space between clouds */
  padding: 10px 20px;
  margin-top: -60px; /* Pull the clouds closer to the title */
  background-color: rgb(83, 113, 171); /* Match the main theme */
  height: auto; /* Allow container height to adjust dynamically */
  min-height: 100vh; /* Ensures a minimum height of the viewport */
}

.cloud-project {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  clip-path: polygon(
    50% 0%, 65% 0%, 80% 10%, 90% 25%, 92% 50%, 90% 75%, 80% 90%, 65% 100%, 
    50% 100%, 35% 100%, 20% 90%, 10% 75%, 8% 50%, 10% 25%, 20% 10%, 35% 0%
  );
  -webkit-clip-path: polygon(
    50% 0%, 65% 0%, 80% 10%, 90% 25%, 92% 50%, 90% 75%, 80% 90%, 65% 100%, 
    50% 100%, 35% 100%, 20% 90%, 10% 75%, 8% 50%, 10% 25%, 20% 10%, 35% 0%
  );
}



.cloud-project:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.cloud-image {
  width: 45vw; /* Ensure consistent size */
  max-width: 500px;
  height: auto;
  pointer-events: none; /* Prevent image from interfering with click */
}
.cloud-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  pointer-events: none;
}

.cloud-content h3 {
  margin-bottom: 5px;
  font-size: 20px;
}

.cloud-content p {
  margin-top: 6px;
  font-size: 16px;
  line-height: 1.2;
}

.projects-title {
  padding: 20px; /* Reduced padding */
  font-size: 70px; /* Larger, more prominent size */
  font-family: 'Poppins', sans-serif; /* Clean, modern font */
  font-weight: bold;
  background: linear-gradient(90deg, #02519b, #a0c6c5); /* Gradient color */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Keep gradient color */
  -webkit-text-stroke: 2px #000000; /* Add white border */
  text-transform: uppercase; /* Capitalized text for emphasis */
  text-align: center;
  letter-spacing: 2px; /* Spacing between letters */
  margin-bottom: 0; /* Remove extra margin below title */
  animation: fadeInTitle 1.5s ease; /* Smooth fade-in animation */
}

@keyframes fadeInTitle {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
